{% extends "base.html" %}

{% block main %}
<h1>Data Collections</h1>

<script>
   $(function() {
    $( ".accordion" ).accordion({
      heightStyle: "content"
    });
  });
</script>

<style>
   .images {
      height:auto;
      width:auto;
   }
   .images img{
      width:100%;
      display: block;
   }
   .accordion h4{
      background: lightgray;
      padding: 7px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
   }
   table #data {
      width: 30%;
   }
</style>

<br />
<br />
<table class="table">
      <thead>
        <tr>
         <th class="header">Source</th>
	      <th class="header">Timestamp</th>
         <th class="header">Location</th>
     	   <th class="header">Data</th>
	     </tr>
      </thead>
   <tbody>
	{% for d in data %}
	  <tr>
	    <td>{{ d.properties.source }}</td>
	    <td>{# d.properties.date_added|date:"Y-m-d G:i:s" #}<br />
           {{ d.properties.timestamp }}</td>
	    <td><b>location:</b> {{ d.geometry }}<br />
           <b>altitude:</b> {{ d.properties.altitude }}<br />
           <b>horizontal accuracy:</b> {{ d.properties.h_accuracy }}<br />
           <b>vertical accuracy:</b> {{ d.properties.v_accuracy }}<br />
       </td>
   	 <td id="data"><b>text:</b> {{ d.properties.text }}<br />
           <b>image:</b><div class='images'>
                        <img id='base64image' 
                        src='data:image/png;base64, {{ d.properties.image }}' /><br /> 
                        </div>
            
               {% comment %}
               {% if d.properties.oimage or d.properties.pimage or d.properties.fimage %}
                     
                  <div class="accordion">
                     {% if d.properties.oimage %}
                        <h4>Original Image</h4>
                        <div class='images'>
                        <img id='base64image' 
                        src='data:image/png;base64, {{ d.properties.oimage }}' /><br /> 
                        </div>
                     {% endif %}
                     {% if d.properties.fimage %}
                        <h4>Faces Image</h4>
                        <div class='images'>
                        <img id='base64image' 
                        src='data:image/png;base64, {{ d.properties.fimage }}' /><br /> 
                        </div>
                     {% endif %}
                     {% if d.properties.pimage %}
                        <h4>People Image</h4>
                        <div class='images'>
                        <img id='base64image' 
                        src='data:image/png;base64, {{ d.properties.pimage }}' /><br /> 
                        </div>
                     {% endif %}
                  </div>
                  {% else %}
                  None <br />
                  {% endif %}
                  {% endcomment %}
           <b>noise_level:</b> {{ d.properties.noise_level}}<br /> 
           <b>temperature:</b> {{ d.properties.temperature}}<br /> 
           <b>humidity:</b> {{ d.properties.humidity}}<br /> 
           <b>faces detected:</b> {{ d.properties.faces_detected }}<br /> 
           <b>people detected:</b> {{ d.properties.people_detected }}<br /> 
       </td>
	  </tr>
	{% endfor %}
      </tbody>
</table>

{% endblock %}
