{% extends "base.html" %}

{% block main %}
<h1>Data Collections</h1>

<br />
<br />
<style>
table td{
	border: solid 1px;
	padding: 5px;
}
</style>
<table style="border:solid 1px; padding:3px;">
      <thead>
        <tr>
         <th class="header">Source</th>
	      <th class="header">Timestamp</th>
         <th class="header">Location</th>
     	   <th class="header">Data</th>
	     </tr>
      </thead>
   <tbody>
	{% for d in data %}
	  <tr>
	    <td>{{ d.source }}</td>
	    <td>{{ d.date_added }}</td>
	    <td>location: {{ d.location }}<br />
           altitude: {{ d.altitude }}<br />
           horizontal accuracy: {{ d.h_accuracy }}<br />
           vertical accuracy: {{ d.v_accuracy }}<br />
       </td>
   	 <td>text: {{ d.text }}<br />
           image: {% if d.image %}
                  <img style='display:block; width:320px;height:480px;' id='base64image' 
                  src='data:image/png;base64, {{ d.image }}' /><br /> 
                  {% else %}
                  None <br />
                  {% endif %}
           noise_level: {{ d.noise_level}}<br /> 
           temperature: {{ d.temperature}}<br /> 
           humidity: {{ d.humidity}}<br /> 
           faces detected: {{ d.faces_detected }}<br /> 
           people detected: {{ d.people_detected }}<br /> 
       </td>
	  </tr>
	{% endfor %}
      </tbody>
</table>

{% endblock %}
