{% extends "base.html" %}

{% block main %}
<h1>Data Collections</h1>

<br />
<br />
<style>
table td{
	border: solid 1px;
	padding: 5px;
}
</style>
<table style="border:solid 1px; padding:3px;">
      <thead>
        <tr>
         <th class="header">Source</th>
	      <th class="header">Timestamp</th>
         <th class="header">Location</th>
     	   <th class="header">Data</th>
	     </tr>
      </thead>
   <tbody>
	{% for d in data %}
	  <tr>
	    <td>{{ d.source }}</td>
	    <td>{{ d.date_added }}</td>
	    <td>{{ d.location }}</td>
   	 <td>text: {{ d.text }}<br />
           image: {{ d.image}}<br /> 
           noise_level: {{ d.noise_level}}<br /> 
           temperature: {{ d.temperature}}<br /> 
           humidity: {{ d.humidity}}<br /> 
           population: {{ d.population}}<br /> 
       </td>
	  </tr>
	{% endfor %}
      </tbody>
</table>

{% endblock %}
