{% extends "base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{{ form.media }}

{% block main %}
<h1>Search Tweets</h1>

<div class="col-md-5">
   <form action="/" method="post" class="form" style="width:;">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
          <button type="submit" class="btn btn-primary">
             {% bootstrap_icon "star" %} Vizit!
          </button>
      {% endbuttons %}
   </form>
</div>
<div class="col-md-5">
   <ul id="formerrors">
   {% if address_flag %}
      <li>Could not find provided Address.</li>
   {% endif %}
   {% if no_result_flag %}
      <li>Your query did not return any results.</li>
   {% endif %}
   {% if time_flag %}
      <li>Both "From" and "To" must be provided for time
          based queries</li>
   {% endif %}
   </ul>
</div>


<script type="text/javascript">
   $(function () {
      $('.date').datetimepicker();
   });
</script>

<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

{% endblock %}
