{% extends "base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block main %}

<link href="{% static "css/nprogress.css" %}" rel="stylesheet">
<script src="{% static "js/nprogress.js" %}"></script>

<h1>Fuse Data</h1>

<form action="/proto/" method="post" class="form" id="fuseform">
   {% csrf_token %}
   <div class="col-md-5">
      <h2>Epicenters
         <small><a href="#" class="help-link" id="epiModalLink">What's this?</a></small></h2>
      {% bootstrap_form epicenters_remote_form %}
      {% bootstrap_form epicenters_local_form %}
   </div>
   <div class="col-md-5">
      <h2>Aftershocks
         <small><a href="#" class="help-link" id="aftModalLink">What's this?</a></small></h2>
      {% bootstrap_form aftershocks_form %}
      {% buttons %}
         <p id="sendwrapper">
          <button id="vizit" type="submit" class="btn btn-primary">
             {% bootstrap_icon "star" %} Vizit!
          </button>
         </p>
      {% endbuttons %}

   </div>
   
</form>

<!-- Help Box Modals -->
<div class="modal fade" id="epiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Epicenters</h4>
      </div>
      <div class="modal-body">
         <p>
            Epicenters refer to the first query set you provide to get geo locations.
            After the query is performed, a set of the coordinates are retrieved which then are used
            to get geo data related to the query set you pass in on the Aftershocks form.<br />
            <br />
            Below you can see a screenshot of what the map visualization looks like when you 
            create a Fusion query.<br />
         </p>
         <img src="{% static "images/epicenters.png" %}" style="width:65%;" class="img-responsive img-thumbnail"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="aftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Aftershocks</h4>
      </div>
      <div class="modal-body">
         <p>
            Aftershocks are results you receive when you pass in the second set of queries<br />
            <br />
            Below you can see a screenshot of what the map visualization looks like when you 
            create a Fusion query.<br />
         </p>
         <img src="{% static "images/aftershocks.png" %}" style="width:65%;" class="img-responsive img-thumbnail"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals end  -->

{% if no_query_flag %}
   <script>
      alert("You must enter something to get results!");
   </script>
{% endif %}
{% if address_flag %}
   <script>
      alert("Could not find provided Address.");
   </script>
{% endif %}
{% if no_result_flag %}
   <script>
      alert("Your query did not return any results.")
   </script>
{% endif %}
{% if time_flag %}
   <script>
      alert("Both \"From\" and \"To\" must be provided for time based queries");
   </script>
{% endif %}

<script type="text/javascript">
   $(function () {
      $('.date').datetimepicker();
   });
</script>

<script>
   $("#fuseform").submit(function(){
      var valid = 0;
      $(this).find('input, select').each(function(){
               if($(this).val() != ""){ 
                     valid+=1;
                     NProgress.start();
               }
      });
   });
   
   $( window ).unload(function() {
      NProgress.stop();
   });

   $("#epiModalLink").click(function(){
      $('#epiModal').modal();
   });

   $("#aftModalLink").click(function(){
      $('#aftModal').modal();
   });
</script>

<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>


{% endblock %}
