{% extends "base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block main %}

<link href="{% static "css/nprogress.css" %}" rel="stylesheet">
<script src="{% static "js/nprogress.js" %}"></script>

<h1>Search Tweets</h1>

<form action="/twitter/" method="post" class="form" id="twitterform">
   {% csrf_token %}
   <div class="col-md-5">
      {% for field in required_fields %}      
         {% bootstrap_field field %}
      {% endfor %}
   </div>
   <div class="col-md-5">
      {% for field in optional_fields %}      
         {% bootstrap_field field %}
      {% endfor %}
         
      {% buttons %}
         <p id="sendwrapper">
          <button id="vizit" type="submit" class="btn btn-primary">
             {% bootstrap_icon "star" %} Visualize!
          </button>
         </p>
      {% endbuttons %}
   </div>
</form>
<div class="col-md-5"></div>


<script type="text/javascript">
   if(top.location.protocol=="https:"){
      if (location.replace){ 
         top.location.replace("http:"+top.location.href.substr(6));
      } else {
         top.location="http:"+top.location.href.substr(6);
      }
   }
   $(function () {
      $('.date').datetimepicker();
   });
</script>

<script>
   $("#twitterform").submit(function(){
      var valid = 0;
      $(this).find('input, select').each(function(){
               if($(this).val() != ""){ 
                     valid+=1;
                     NProgress.start();
               }
      });
   });
   
   $( window ).unload(function() {
      NProgress.stop();
   });  
</script>

<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>


{% endblock %}
